body {
  background-color: #292C34;
}

@font-face {
  font-family: "headerFont";
  src: url('../fonts/SourceCodePro-Black.ttf');
}

@font-face {
  font-family: "bodyFont";
  src: url('../fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: "boldCode";
  src: url('../fonts/SourceCodePro-Bold.ttf');
}

@font-face {
  font-family: "numbersFont";
  src: url('../fonts/monaco.ttf');
}

.content {
  display: flex;
  flex-direction: column;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	/* max-width: 350px; */
	width: calc(100% - 2em);
  vertical-align: top;
  max-width: 600px;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #6a7989;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
  font-size: 150%;
  font-family: 'bodyFont';
}


/* Kyo */
.input--kyo {
	z-index: auto;
}

.input__field--kyo {
	padding: 0.85em 1.5em;
	width: 100%;
	border-radius: 8px;
	background: #fff;
	color: #8E9CB0;
}

.input__label--kyo {
	z-index: 0;
	padding: 0 0 0 2em;
	width: 100%;
  text-align: left;
}

.input__label--kyo::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: #292C35;
  opacity: 0;
	-webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
	pointer-events: none;
}

.input__label-content--kyo {
  padding: 0.5em 0;
	font-family: 'bodyFont';
	-webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.input__field--kyo:focus,
.input__field--kyo:focus + .input__label--kyo .input__label-content--kyo {
	z-index: 10000;
}

.input__field--kyo:focus + .input__label--kyo {
	color: #fff;
}

.input__field--kyo:focus + .input__label--kyo::after {
  opacity: 1;
}


/* video */
@media (max-width: 700px) {
 iframe {
	 width: 400px;
 }
}

@media (max-width: 540px) {
	iframe {
		width: 300px;
		height: 200px;
	}
 }

a:link {
	text-decoration: none;
}
